* {

}

nav {
  float: right;
  padding-right: 20px;
  padding-top: 10px;
  display: block;
}
nav a {
  font-family: Oswald;
  font-size: 25;
  text-decoration: none;
  color: white;
  padding-left: 7px;
  padding-right: 7px;
}
.images {
  max-width: 100%;
  min-width: 100%;

  width: auto;
}
body {
  margin: 0;
}
.menu {
  background-color: black;
  margin: 0;
  padding: 20px;
}
h1 {
  height: 95px;
  padding-top: 19px;
  margin: 0;
  text-align: center;
  font-family: oswald;
  font-size: 50;
  background-color: #009966;
  color: white;

}
h2 {
  font-family: 'Lato';
  font-weight: 900;
  font-size: 30;
  text-align: center;
  margin: 0;
  padding: 25px;
  background-color: white;
}

.icon {display: none;}

/*-- Index-Home --------------*/
#pop {}
#wycdP {}
.wycdDIV{}
.wycdImg{}
.wycdBlurb{}

/*-- Climate ------------*/
#climateSec{ display: block;}
#climateBlurbLeft{ margin-right: auto;}
#climateIMGRight{ float:right;}
#climateIMGLeft{ float: left;}
#climateBlurbRight{ margin-left: auto;}
.climateIMG{ display: block;}

@media only screen and (max-width: 768px) {
    .menu {display: block;
    position: relative;
    overflow: hidden;}
    .icon {display: block;
        float: right;}
    #hamMenu {display: block;
        width: 30px;
        height: 30px;}
    nav { display: none;
        float: none;
        position: relative;
        overflow: visible;}
    nav a { display: block;
    overflow: visible;}
}

<!-- 009966 green 99ccff blue -->
