* {

}
.bottombar {
  background-color: black;
  color: white;
  width: 100%;
}
.in-line {
  display: inline-block;
}
.aboutuspad {
  margin-left: 40px;
}
#aboutuspic1 {
 display: inline-block;
 padding-bottom: 30px;
 padding-right: 30px;
}
#lightbulb {
  background-image: url('images/lightbulb.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 300px;
  width: 100%;
}
#ourworkGlobe {
  max-height: 70%;
  max-width: 70%;
  padding-left: 150px;
  padding-top: 50px;
}
.socialpadding {
  padding-right: 10px;
}
#floatleft {
  float: left;
}
#floatright {
  float: right;
}
#bottomlogo {
  padding-left: 10px;
  padding-top: 10px;
}
#aboutuspic2 {
 display: inline-block;
 padding-bottom: 30px;
}
#climateIMGSet1 {
  padding-bottom: 15px;
  float: right;
}
#bottomtext {

  margin:0;

}
#social-section {
  padding-top: 20px;
  padding-right: 20px;
  float:right;
}
#climateIMGSet2 {
  padding-bottom: 15px;
  float: left;
}
#climateTxt1 {
  float: left;
  padding-right: 100px;
  padding-left: 80px;
}
#climateTxt2 {
  float: right;
  padding-right: 100px;
  padding-left: 80px;
}
.txtcenter {
  text-align: center;
}
.ourworkpadding {
  padding-right: 100px;
}
.ourworkcentertxt {
  text-align: center;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
nav {
  float: right;
  padding-right: 20px;
  padding-top: 10px;
  display: block;
}
nav a {
  font-family: Oswald;
  font-size: 25pt;
  text-decoration: none;
  color: white;
  padding-left: 7px;
  padding-right: 7px;
}
.images {
  max-width: 100%;
  min-width: 100%;

  width: auto;
}
body {
  margin: 0;
}
.menu {
  background-color: black;
  margin: 0;
  padding: 20px;
}
h1 {
  height: 95px;
  padding-top: 19px;
  margin: 0;
  text-align: center;
  font-family: oswald;
  font-size: 50pt;
  background-color: #009966;
  color: white;

}
p {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 20pt;

}
h2 {
  font-family: 'Lato';
  font-weight: 900;
  font-size: 30pt;
  text-align: center;
  margin: 0;
  padding: 25px;
  background-color: white;
}
form {
  background-color:#99ccff;
  display: block;
  text-align: center;
  margin-left: 250px;
  width: 792px;
  height: 871px;
}
input {
  border-radius: 5px;
   border: 1px solid black;
   padding: 2px;
}

button {
  border-radius: 5px;
   border: 1px solid black;
   padding: 2px;
}
.icon {display: none;}
.objectCenter{margin: auto;}

/*-- Index-Home --------------*/
#pop { width: 80%;
   margin: auto;}
#wycdP {width: 75%;
text-align: center;
margin: auto;}
.wycdDIV{ width: 500px;
    display: inline-block;}
.wycdImg{display: inline-block;}
.wycdBlurb{display: inline-block;
    width: 350px;}

#aboutPic{ padding: 30px;
   margin: auto;}
#ourworkP{ margin: 0 0 0 40px;
}
#ourworkBottom{display: flex;}
.ourworkIMG{ height: 100px; width: 100px;}
#ourworkglobe {display: block;}
/*-- Climate ------------*/
#climatePage{}
.climateSec{ display: block;
    overflow: auto;}
#climateBlurbLeft{ width: 45%;
    margin-left: 30px;
    display: block;}
#climateIMGRight{ display: block;
    float: right;}
#climateIMGLeft{ display: block;
    float: left;}
#climateBlurbRight{ width: 45%;
    margin-right: 30px;
    display: block;}
.climateIMG{ display: block;
    width: 200px;
    height: 200px;}
.donateFluff{ padding: 1em;}
.donateFluff1{ padding: 1em;}


@media only screen and (max-width: 768px) {
    .menu {display: block;
    position: relative;
    overflow: hidden;}
    .icon {display: block;
        float: right;}
    #hamMenu {display: block;
        width: 30px;
        height: 30px;}
    nav { display: none;
        float: none;
        position: relative;
        overflow: visible;}
    nav a { display: block;
    overflow: visible;}
    #ourworkBottom {display: block;
      margin: auto;}
      form{ display: block;
      margin: auto;
      width: 675px;}
}
